.attributeItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.removeAttributeButton {
  cursor: pointer;
}

.removeAttributeButton,
.disciplineAttributeRemoveButton {
  height: 2rem;
  width: 2.5rem;
}

.removeAttributeButton path {
  fill: var(--blue-700, #091f36);
}

.removeAttributeButton:hover path,
.removeAttributeButton:focus path {
  fill: var(--orange-500, #f68309);
}

.removeAttributeButton:active path {
  fill: var(--orange-600, #cd6d07);
}

.disciplineAttributeRemoveButton path {
  fill: var(--gray-600, #66666e);
}

.removeAttributeIcon {
  height: 100%;
  width: 100%;
}
