.widgetContainer {
  color: var(--blue-700, #091f36);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.heading,
.description {
  text-align: center;
}

.label {
  font-size: var(--label-font-size, 1.5rem);
}

/* ADD QUEST */
.addQuestNameContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.addQuestInput {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 3px solid var(--blue-700, #091f36);
  border-radius: var(--border-radius-sm, 4px);
  transition: background-color 0.2s ease;
  font-size: 1.25rem;
}

.addQuestInput:focus {
  outline: none;
}

.addQuestInput:focus-visible {
  background-color: var(--background-focus-orange, #e8c6a1);
}

/* LARGER SCREENS */
@media (min-width: 425px) {
  .heading,
  .description {
    text-align: left;
  }

  .addQuestNameContainer {
    flex-direction: row;
  }

  .addQuestInput {
    flex: 1;
    max-width: 18.25rem;
  }
}

@media (min-width: 768px) {
  .widgetContainer {
    display: grid;
    grid-template-columns: var(--grid-layout);
    grid-auto-rows: auto;
    row-gap: 1rem;
    column-gap: 0;
    min-width: 33.5rem;
  }

  .heading,
  .description {
    grid-column: 1 / span 3;
  }

  /* ADD QUEST */
  .addQuestNameContainer {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: var(--grid-layout);
    gap: 0;
  }

  .addQuestLabel {
    grid-column: 1;
  }

  .addQuestInput {
    grid-column: 2;
  }

  /* CREATE QUEST BUTTON */
  .createQuestButton {
    grid-column: 2;
  }
}
