.widgetContainer {
  color: var(--blue-700, #091f36);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  /* TODO: Ensure width is equalized with AttributeWidget on small screens */
}

.label {
  font-size: 1.5rem;
}

.menu {
  display: none;
  position: absolute;
  background-color: var(--white, #ffffff);
  border: 3px solid var(--blue-700, #091f36);
  max-height: 10rem;
  overflow-y: auto;
  z-index: 10;
}

.menu.open {
  display: flex;
  flex-direction: column;
}

.appendedButton {
  font-size: 1.25rem;
  border: 3px solid var(--blue-700, #091f36);
  padding: 0rem 0.75rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-left: none;
  width: 100%;
  height: 100%;
  color: var(--background, #f5f5f5);
}

/* ADD QUEST */
.addQuestInput {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 3px solid var(--blue-700, #091f36);
  transition: background-color 0.2s ease;
  font-size: 1.25rem;
}

.addQuestInput:focus {
  outline: none;
}

.addQuestInput:focus-visible {
  background-color: var(--orange-200, #e8c6a1);
}

/* ADD AFFECTED ATTRIBUTE */
.addAffectedAttributeContainer {
  display: grid;
  grid-template-columns: 5fr 4fr 3fr;
  grid-template-rows: auto auto;
}

.addAffectedAttributeContainer .label {
  grid-row: 1;
  grid-column: 1 / span 3;
}

.attributeOptionsContainer {
  grid-row: 2;
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 5fr 4fr;
  font-size: 1.5rem;
}

.menuContainer {
  position: relative;
  border: 3px solid var(--blue-700, #091f36);
  background-color: var(--background, #f5f5f5);
  transition: background-color 0.2s ease;
  height: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.attributeSelectMenuContainer {
  border-right-width: 1px;
}
.attributeStrengthMenuContainer {
  border-left-width: 1px;
}

.menuContainer button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
}

.plus {
  font-size: 2rem;
  line-height: 0.55;
}

.addAttributeButton {
  background-color: var(--blue-400, #123e6d);
}
.addAttributeButton:focus-visible {
  background-color: var(--blue-300, #47a2f5);
}
@media (hover: hover) {
  .addAttributeButton:hover {
    background-color: var(--blue-300, #47a2f5);
  }
}
.addAttributeButton:active {
  background-color: var(--blue-500, #0f3257);
}

/* AFFECTED ATTRIBUTES DISPLAY */

.affectedAttributesTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.5rem;
}

.affectedAttributeRow {
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.affectedAttributeCells {
  grid-column: 1;
  display: grid;
  grid-template-columns: 5fr 4fr;
}

.affectedAttributeName,
.affectedAttributeStrength {
  border: 3px solid var(--blue-700, #091f36);
}

.affectedAttributeCell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.affectedAttributeRow:not(:last-child) .affectedAttributeCell,
.affectedAttributeRow:not(:last-child) .deleteAttributeButton {
  border-bottom: none;
}

.affectedAttributeName {
  border-right-width: 1px;
}

.affectedAttributeStrength {
  border-left-width: 1px;
}

.deleteAttributeButtonCell {
  grid-column: 2;
  width: 100%;
}

.deleteAttributeButton {
  background-color: var(--orange-600, #cd6d07);
}
.deleteAttributeButton:focus-visible {
  background-color: var(--orange-500, #f68309);
}
@media (hover: hover) {
  .deleteAttributeButton:hover {
    background-color: var(--orange-500, #f68309);
  }
}
.deleteAttributeButton:active {
  background-color: var(--orange-650, #c56907);
}

@media (min-width: 425px) {
  .widgetContainer {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    grid-auto-rows: auto;
    row-gap: 1rem;
  }

  .heading {
    grid-column: 1 / span 3;
  }

  /* ADD QUEST */
  .addQuestLabel {
    grid-row: 2;
    grid-column: 1;
  }

  .addQuestInput {
    grid-row: 2;
    grid-column: 2;
  }

  /* ADD AFFECTED ATTRIBUTE */
  .addAffectedAttributeFieldset {
    grid-row: 3;
    grid-column: 1 / span 3;
  }

  .addAffectedAttributeContainer {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
  }

  .addAffectedAttributeContainer legend {
    grid-column: 1;
  }

  .addAffectedAttributeContainer .attributeOptionsContainer {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-columns: 5fr 4fr;
  }

  .addAffectedAttributeContainer .addAttributeButton {
    grid-row: 1;
    grid-column: 3;
  }

  /* AFFECTED ATTRIBUTES DISPLAY */
  .affectedAttributesTable {
    grid-row: 4;
    grid-column: 2 / span 2;
  }
  /* CREATE QUEST BUTTON */
  .createQuestButton {
    grid-row: 5;
    grid-column: 2;
  }
}
