.widgetContainer {
  color: var(--blue-700, #091f36);
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-auto-rows: auto;
  row-gap: 1rem;
  /* TODO: Ensure width is equalized with AttributeWidget on small screens */
}

.label {
  font-size: 1.5rem;
  width: 11rem;
}

.menu {
  display: none;
  position: absolute;
  background-color: var(--white, #ffffff);
  border: 3px solid var(--blue-700, #091f36);
  max-height: 10rem;
  overflow-y: auto;
  z-index: 10;
}

.menu.open {
  display: flex;
  flex-direction: column;
}

/* ADD QUEST */
.addQuestLabel {
  grid-row: 2;
  grid-column: 1;
}

.addQuestInput {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 3px solid var(--blue-700, #091f36);
  transition: background-color 0.2s ease;
  font-size: 1.25rem;
  grid-row: 2;
  grid-column: 2;
}

.addQuestInput:focus {
  outline: none;
}

.addQuestInput:focus-visible {
  background-color: var(--orange-200, #e8c6a1);
}

/* ADD AFFECTED ATTRIBUTE */
.addAffectedAttributeFieldset {
  grid-row: 3;
  grid-column: 1 / span 3;
}

.addAffectedAttributeContainer {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
}

.attributeOptionsContainer {
  grid-column: 2;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

.menuContainer {
  position: relative;
  border: 3px solid var(--blue-700, #091f36);
  background-color: var(--background, #f5f5f5);
  transition: background-color 0.2s ease;
  height: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.attributeSelectMenuContainer {
  border-right-width: 1px;
}
.attributeStrengthMenuContainer {
  border-left-width: 1px;
}

.menuContainer button {
  width: 100%;
  text-align: left;
  height: 100%;
  cursor: pointer;
  text-align: center;
}

.plus {
  font-size: 2rem;
  line-height: .55;
}

.addAttributeButton {
  font-size: 1.25rem;
  background-color: var(--blue-400, #123e6d);
  border: 3px solid var(--blue-700, #091f36);
  color: var(--gold-400, #ffb800);
  padding: 0rem 0.75rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: var(--button-width);
  border-left: none;
}

@media (min-width: 425px) {
  
}
