.widgetContainer {
  color: var(--blue-700, #091f36);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* TODO: Ensure width is equalized with AttributeWidget on small screens */
}

.label {
  font-size: 1.5rem;
  width: 11rem;
}

.menu {
  display: none;
  position: absolute;
  background-color: var(--white, #ffffff);
  border: 3px solid var(--blue-700, #091f36);
  max-height: 10rem;
  overflow-y: auto;
  z-index: 10;
}

.menu.open {
  display: flex;
  flex-direction: column;
}

/* ADD QUEST */
.addQuestContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.25rem;
}

.addQuestInput {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 3px solid var(--blue-700, #091f36);
  transition: background-color 0.2s ease;
}

.addQuestInput:focus {
  outline: none;
}

.addQuestInput:focus-visible {
  background-color: var(--orange-200);
}

/* ADD AFFECTED ATTRIBUTE */
.affectedAttributeFieldset {
  display: flex;
}

@media (min-width: 425px) {
  .addQuestContainer {
    flex-direction: row;
    align-items: center;
  }
}