.widgetContainer {
  color: var(--blue-700, #091f36);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* TODO: Ensure width is equalized with AttributeWidget on small screens */
}

.label {
  font-size: 1.5rem;
  width: 11rem;
}

.menu {
  display: none;
  position: absolute;
  background-color: var(--white, #ffffff);
  border: 3px solid var(--blue-700, #091f36);
  max-height: 10rem;
  overflow-y: auto;
  z-index: 10;
}

.menu.open {
  display: flex;
  flex-direction: column;
}

.appendedButton {
  font-size: 1.25rem;
  border: 3px solid var(--blue-700, #091f36);
  padding: 0rem 0.75rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-left: none;
  width: 100%;
  height: 100%;
  color: var(--background, #f5f5f5);
}

/* ADD QUEST */
.addQuestInput {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 3px solid var(--blue-700, #091f36);
  transition: background-color 0.2s ease;
  font-size: 1.25rem;
}

.addQuestInput:focus {
  outline: none;
}

.addQuestInput:focus-visible {
  background-color: var(--orange-200, #e8c6a1);
}

/* ADD AFFECTED ATTRIBUTE */
.addAffectedAttributeContainer {
  display: grid;
  grid-template-columns: 5fr 4fr 3fr;
  grid-template-rows: auto auto;
}

.addAffectedAttributeContainer .label {
  grid-row: 1;
  grid-column: 1 / span 3;
}

.attributeOptionsContainer {
  grid-row: 2;
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 5fr 4fr;
  font-size: 1.5rem;
}

.menuContainer {
  position: relative;
  border: 3px solid var(--blue-700, #091f36);
  background-color: var(--background, #f5f5f5);
  transition: background-color 0.2s ease;
  height: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.attributeSelectMenuContainer {
  border-right-width: 1px;
}
.attributeStrengthMenuContainer {
  border-left-width: 1px;
}

.menuContainer button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
}

.plus {
  font-size: 2rem;
  line-height: 0.55;
}

.addAttributeButton {
  background-color: var(--blue-400, #123e6d);
}

/* Affected Attributes Display */

.affectedAttributesTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.5rem;
  text-align: center;
}

.affectedAttributeRow {
  display: grid;
  grid-template-columns: 5fr 4fr 3fr;
}

.affectedAttributeName,
.affectedAttributeStrength {
  border: 3px solid var(--blue-700, #091f36);
}

.affectedAttributeName {
  grid-column: 1;
  border-right-width: 1px;
}

.affectedAttributeStrength {
  grid-column: 2;
  border-left-width: 1px;
}

.deleteAttributeButtonCell {
  grid-column: 3;
  width: 100%;
}

.deleteAttributeButton {
  background-color: var(--orange-600, #cd6d07);
}

@media (min-width: 425px) {
  .widgetContainer {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-auto-rows: auto;
    row-gap: 1rem;
  }
  .addQuestLabel {
    grid-row: 2;
    grid-column: 1;
  }

  .addQuestInput {
    grid-row: 2;
    grid-column: 2;
  }

  .addAffectedAttributeContainer legend {
    grid-column: 1;
  }

  .attributeOptionsContainer {
    grid-row: 1;
    grid-column: 2;
  }
}
