.widgetContainer {
  --grid-layout: 2fr 5fr 2fr;
  --two-column-template: 3fr 2fr;
  --grid-layout-options-and-button: 5fr 2fr;
  --grid-layout-cells-and-button: 3fr 2fr 2fr;
  color: var(--blue-700, #091f36);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.heading,
.description {
  text-align: center;
}

.label {
  font-size: 1.5rem;
}

.menu {
  display: none;
  position: absolute;
  background-color: var(--white, #ffffff);
  border: 3px solid var(--blue-700, #091f36);
  max-height: 10rem;
  overflow-y: auto;
  z-index: 10;
}

.menu.open {
  display: flex;
  flex-direction: column;
}

.appendedButton {
  font-size: 1.25rem;
  border: 3px solid var(--blue-700, #091f36);
  padding: 0rem 0.75rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-left: none;
  width: 100%;
  height: 100%;
  color: var(--background, #f5f5f5);
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* ADD QUEST */
.addQuestNameContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.addQuestInput {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 3px solid var(--blue-700, #091f36);
  border-radius: var(--border-radius-sm, 4px);
  transition: background-color 0.2s ease;
  font-size: 1.25rem;
}

.addQuestInput:focus {
  outline: none;
}

.addQuestInput:focus-visible {
  background-color: var(--background-focus-orange);
}

/* ADD AFFECTED ATTRIBUTE */
.addAffectedAttributeFieldset {
  display: grid;
  grid-template-columns: var(--grid-layout-options-and-button);
}

.addAffectedAttributeContainer {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: var(--grid-layout-options-and-button);
  grid-template-rows: auto auto;
}

.addAffectedAttributeContainer .label {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.attributeOptionsContainer {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: var(--two-column-template);
  font-size: 1.5rem;
}

.menuContainer {
  position: relative;
  border: 3px solid var(--blue-700, #091f36);
  background-color: var(--background, #f5f5f5);
  transition: background-color 0.2s ease;
  height: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.attributeSelectMenuContainer {
  border-right-width: 1px;
  border-radius: var(--border-radius-sm, 4px) 0 0 var(--border-radius-sm, 4px);
}
.attributeStrengthMenuContainer {
  border-left-width: 1px;
}

.menuContainer button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
}

.plus {
  font-size: 2rem;
  line-height: 0.55;
}

.addAttributeButton {
  background-color: var(--blue-400, #123e6d);
  border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
}
.addAttributeButton:focus-visible {
  background-color: var(--blue-300, #47a2f5);
}
@media (hover: hover) {
  .addAttributeButton:hover {
    background-color: var(--blue-300, #47a2f5);
  }
}
.addAttributeButton:active {
  background-color: var(--blue-500, #0f3257);
}

/* AFFECTED ATTRIBUTES DISPLAY */

.affectedAttributesTable {
  display: grid;
  grid-template-columns: var(--grid-layout-cells-and-button);
  width: 100%;
  border-collapse: collapse;
  font-size: 1.5rem;
}

.affectedAttributesTable tbody {
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: var(--grid-layout-cells-and-button);
  grid-auto-rows: auto;
}

.affectedAttributeRow {
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: var(--grid-layout-cells-and-button);
}

.affectedAttributeCell {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -- Table border raidii */
.affectedAttributeRow:first-child .affectedAttributeName {
  border-radius: var(--border-radius-sm, 4px) 0 0 0;
}
.affectedAttributeRow:first-child .appendedButton {
  border-radius: 0 var(--border-radius-sm, 4px) 0 0;
}
.affectedAttributeRow:last-child .affectedAttributeName {
  border-radius: 0 0 0 var(--border-radius-sm, 4px);
}
.affectedAttributeRow:last-child .appendedButton {
  border-radius: 0 0 var(--border-radius-sm, 4px) 0;
}

.affectedAttributeName,
.affectedAttributeStrength {
  border: 3px solid var(--blue-700, #091f36);
}

.affectedAttributeRow:not(:last-child) .affectedAttributeCell,
.affectedAttributeRow:not(:last-child) .deleteAttributeButton {
  border-bottom: none;
}

.affectedAttributeName {
  grid-column: 1;
  border-right-width: 1px;
}

.affectedAttributeStrength {
  grid-column: 2;
  border-left-width: 1px;
}

.deleteAttributeButtonCell {
  grid-column: 3;
  width: 100%;
}

.deleteAttributeButton {
  background-color: var(--orange-600, #cd6d07);
}
.deleteAttributeButton:focus-visible {
  background-color: var(--orange-500, #f68309);
}
@media (hover: hover) {
  .deleteAttributeButton:hover {
    background-color: var(--orange-500, #f68309);
  }
}
.deleteAttributeButton:active {
  background-color: var(--orange-650, #c56907);
}

/* LARGER SCREENS */
@media (min-width: 425px) {
  .heading,
  .description {
    text-align: left;
  }

  .addQuestNameContainer {
    flex-direction: row;
  }

  .addQuestInput {
    flex: 1;
    max-width: 18.25rem;
  }
}

@media (min-width: 768px) {
  .widgetContainer {
    --grid-layout: 4fr 5fr 2fr;
    --two-column-template: 3fr 2fr;
    --grid-layout-options-and-button: 5fr 2fr;
    --grid-layout-cells-and-button: 3fr 2fr 2fr;
    display: grid;
    grid-template-columns: var(--grid-layout);
    grid-auto-rows: auto;
    row-gap: 1rem;
    column-gap: 0;
    min-width: 33.5rem;
  }

  .heading,
  .description {
    grid-column: 1 / span 3;
  }

  /* ADD QUEST */
  .addQuestNameContainer {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: var(--grid-layout);
    gap: 0;
  }

  .addQuestLabel {
    grid-column: 1;
  }

  .addQuestInput {
    grid-column: 2;
  }

  /* ADD AFFECTED ATTRIBUTE */
  .addAffectedAttributeFieldset {
    grid-column: 1 / span 3;
  }

  .addAffectedAttributeContainer {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: var(--grid-layout);
  }

  .addAffectedAttributeContainer legend {
    grid-column: 1;
  }

  .attributeOptionsContainer {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-columns: var(--two-column-template);
  }

  .addAttributeButton {
    grid-column: 3;
  }

  /* AFFECTED ATTRIBUTES DISPLAY */
  .affectedAttributesTable {
    grid-column: 2 / span 2;
  }
  /* CREATE QUEST BUTTON */
  .createQuestButton {
    grid-column: 2;
  }
}
