.introContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

.mainHeading {
  color: var(--orange-300, #e1b382);
}

.introParagraph {
  color: var(--white, #ffffff);
}
