.label {
  font-size: var(--label-font-size, 1.5rem);
}

.menu {
  display: none;
  position: absolute;
  background-color: var(--white, #ffffff);
  border: 3px solid var(--blue-700, #091f36);
  max-height: 10rem;
  overflow-y: auto;
  z-index: 10;
}

.menu.open {
  display: flex;
  flex-direction: column;
}

.appendedButton {
  font-size: var(--appended-button-font-size, 1.25rem);
  border: var(--appended-button-border, 3px solid var(--blue-700, #091f36));
  padding: var(--appended-button-padding, 0rem 0.75rem);
  cursor: var(--appended-button-cursor, pointer);
  transition: var(--appended-button-transition, background-color 0.2s ease);
  border-left: var(--appended-button-border-left, none);
  width: var(--appended-button-width, 100%);
  height: var(--appended-button-height, 100%);
  color: var(--appended-button-color, var(--background, #f5f5f5));
}

/* ADD AFFECTED ATTRIBUTE */
.addAffectedAttributeFieldset {
  display: grid;
  grid-template-columns: var(--grid-layout-options-and-button);
}

.addAffectedAttributeContainer {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: var(--grid-layout-options-and-button);
  grid-template-rows: auto auto;
}

.addAffectedAttributeContainer .label {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.attributeOptionsContainer {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: var(--two-column-template);
  font-size: 1.5rem;
}

.menuContainer {
  position: relative;
  border: 3px solid var(--blue-700, #091f36);
  background-color: var(--background, #f5f5f5);
  transition: background-color 0.2s ease;
  height: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.attributeSelectMenuContainer {
  border-right-width: 1px;
  border-radius: var(--border-radius-sm, 4px) 0 0 var(--border-radius-sm, 4px);
}
.attributeStrengthMenuContainer {
  border-left-width: 1px;
}

.menuContainer button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
}

.plus {
  font-size: var(--plus-font-size, 2rem);
  line-height: var(--plus-line-height, 0.55);
}

.addAttributeButton {
  background-color: var(--blue-400, #123e6d);
  border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
}
.addAttributeButton:focus-visible {
  background-color: var(--blue-300, #47a2f5);
}
@media (hover: hover) {
  .addAttributeButton:hover {
    background-color: var(--blue-300, #47a2f5);
  }
}
.addAttributeButton:active {
  background-color: var(--blue-500, #0f3257);
}

@media (min-width: 768px) {
  .addAffectedAttributeFieldset {
    grid-column: 1 / span 3;
  }

  .addAffectedAttributeContainer {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: var(--grid-layout);
  }

  .addAffectedAttributeContainer legend {
    grid-column: 1;
  }

  .attributeOptionsContainer {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-columns: var(--two-column-template);
  }

  .addAttributeButton {
    grid-column: 3;
  }
}