.container {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.purposeStatement {
  text-align: center;
}

@media (min-width: 768px) {
  .contentContainer {
    flex-direction: row;
    gap: 3rem;
  }

  .attributeSummary {
    flex-basis: 40%;
  }

  .purposeStatement {
    flex-basis: 60%;
  }
}