.outerContainer {
  flex-grow: 1; /* Ensures container fills available space, allowing vertical centering of children */
  display: flex;
  align-items: center;
}

.contentContainer {
  display: flex;
  justify-content: center;
}

.verifyEmailSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--blue-600, #091f36);
  text-align: center;
}