.questItem {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr auto 2fr;
}

.hidden {
  visibility: hidden;
}

/* TODO: add disabled styles for order and experience buttons */

/* DELETE TRANSITION STYLES */
.questItem {
  overflow: hidden;
  max-height: var(--item-height);
  opacity: 1;
  transition: max-height var(--transition-duration) ease-in-out,
    opacity var(--transition-duration) ease-in-out;
}

.questItem.removing {
  max-height: 0;
  opacity: 0;
}

/* Potential future implementation */
/* .questItem {
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows var(--animation-duration) ease-in-out,
    opacity var(--animation-duration) ease-in-out;
}

.questItem.removing {
  grid-template-rows: 0fr;
  opacity: 0;
} */

.deleteQuestButton:disabled {
  opacity: 0.5;
}
