.questItem {
  width: 100%;
  max-width: 23rem;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  column-gap: 1rem;
  /* TRANSITION STYLES FOR ITEM DELETION */
  overflow: hidden;
  min-height: fit-content;
  max-height: var(--item-height);
  opacity: 1;
  transition: max-height var(--transition-duration) ease-in-out,
    opacity var(--transition-duration) ease-in-out;
}
/* TODO: smooth out transition finish, slight jump at end */
.questItem.removing {
  min-height: 0;
  max-height: 0;
  opacity: 0;
}

.hidden {
  visibility: hidden;
}

.largerScreenOnly {
  display: none;
}

/* QUEST ORDER TOGGLE BUTTONS */
.questOrderToggleButtons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
}

/* QUEST DETAILS */
.questDetails {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  min-height: fit-content;
}

.questDetails p,
.questName {
  line-height: 1.5rem;
}

/* EXPERIENCE SECTION */
.experienceSection {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-between;
}

.experienceButtons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 900px) {
  .smallScreenOnly {
    display: none;
  }

  .largerScreenOnly {
    display: block;
  }

  .questItem {
    min-height: 2rem;
    max-width: none;
    grid-template-columns: var(--full-grid-template-columns);
    column-gap: var(--column-gap);
    align-items: center;
  }

  /* QUEST ORDER TOGGLE BUTTONS */
  .questOrderToggleButtons {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  /* QUEST DETAILS */
  .questDetails {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: var(--grid-template-columns-quest-details);
    column-gap: var(--column-gap);
    align-items: center;
  }

  .questName {
    font-size: 1.75rem;
  }

  /* EXPERIENCE SECTION */
  .experienceSection {
    justify-content: flex-start;
  }

  .experienceValue {
    min-width: 1.75rem; /* Prevents shifts when changing experience points */
  }

  /* DELETE QUEST BUTTON */
  .deleteQuestButton {
    height: 1.75rem;
    aspect-ratio: 1.5 / 1;
    cursor: pointer;
  }
  .deleteQuestButton path {
    fill: var(--background, #fafafa);
  }
  .deleteQuestButton:focus-visible {
    outline: 2px solid var(--gold-400, #ffb800);
    outline-offset: -2px;
  }
  .deleteQuestButton:hover:not(:disabled) path {
    fill: var(--gold-400, #ffb800);
  }
  .deleteQuestIcon {
    height: 100%;
    width: 100%;
  }
}
