.questItem {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  column-gap: 1rem;
  /* DELETE TRANSITION STYLES */
  overflow: hidden;
  max-height: var(--item-height);
  opacity: 1;
  transition: max-height var(--transition-duration) ease-in-out,
    opacity var(--transition-duration) ease-in-out;
}

.questItem.removing {
  max-height: 0;
  opacity: 0;
}

.hidden {
  visibility: hidden;
}

/* QUEST ORDER TOGGLE BUTTONS */
.questOrderToggleButtons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
}

/* QUEST DETAILS */
.questDetails {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.questDetails p, .questName {
  line-height: 1.5rem;
}

/* EXPERIENCE SECTION */
.experienceSection {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-between;
}

.experienceButtons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* TODO: add disabled styles for order and experience buttons */

/* Potential future implementation for transition */
/* .questItem {
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows var(--animation-duration) ease-in-out,
    opacity var(--animation-duration) ease-in-out;
}

.questItem.removing {
  grid-template-rows: 0fr;
  opacity: 0;
} */

.deleteQuestButton:disabled {
  opacity: 0.5;
}

@media (min-width: 900px) {
  .questItem {
    grid-template-columns: var(--full-grid-template-columns);
    column-gap: var(--column-gap);
  }

  .questOrderToggleButtons {
    grid-column: 1;
  }

  .questDetails {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: var(--grid-template-columns-quest-details);
    column-gap: var(--column-gap);
  }
}
