.questItem {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 1rem;
}

.hidden {
  visibility: hidden;
}

.questDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.questDetails p, .questName {
  line-height: 1.5rem;
}

/* EXPERIENCE SECTION */
.experienceSection {
  display: flex;
  gap: 0.5rem;
  min-width: 10rem; /* Prevents shift when adjusting exp value */
}

.experienceButtons {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

/* TODO: add disabled styles for order and experience buttons */

/* DELETE TRANSITION STYLES */
.questItem {
  overflow: hidden;
  max-height: var(--item-height);
  opacity: 1;
  transition: max-height var(--transition-duration) ease-in-out,
    opacity var(--transition-duration) ease-in-out;
}

.questItem.removing {
  max-height: 0;
  opacity: 0;
}

/* Potential future implementation */
/* .questItem {
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows var(--animation-duration) ease-in-out,
    opacity var(--animation-duration) ease-in-out;
}

.questItem.removing {
  grid-template-rows: 0fr;
  opacity: 0;
} */

.deleteQuestButton:disabled {
  opacity: 0.5;
}
