.button {
  padding: 0.5rem;
  background-color: #0070f3;
  color: var(--white, #fff);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.brown600 {
  background-color: var(--brown-600, #362009);
}

.brown600:hover {
  background-color: hsl(31 71% 20%);
}

.brown600:active {
  background-color: var(--brown-600, #362009);
}

.blue600 {
  background-color: var(--blue-600, #091f36);
}

.blue600:hover {
  background-color: hsl(211 71% 20%);
}

.blue600:active {
  background-color: var(--blue-600, #091f36);
}