.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.introHeader {
  color: var(--blue-600, #091f36);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.explainerSectionsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--brown-600, #362009);
}

.explainerSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 30rem;
}

.explainerSectionHeading {
  text-align: center;
}

.explainerPointsList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.explainerPointsList li {
  display: list-item;
  list-style-type: disc;
  margin-left: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .explainerSectionsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }

  .explainerSection {
    flex: 1 1 30%;
  }
}