.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.introHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.explainerSectionsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--brown-600, #362009);
}

.explainerSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.explainerSectionHeading {
  text-align: center;
}

.explainerPointsList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.explainerPointsList li {
  list-style-type: disc;
  margin-left: 1.5rem;
}