.loginContainer {
  color: var(--brown-600, #362009);
  background-color: var(--white, #fff);
  border: 5px solid var(--brown-600, #362009);
  padding: 1rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginForm label {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.loginForm input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.loginButton {
  margin-top: 1rem;
}

.loginForm button:hover {
  background-color: #005bb5;
}

.divider {
  height: 1px;
  background-color: var(--brown-600, #362009);
  margin: 2rem 0;
}
