.boundedContainer {
  background-color: var(--blue-600);
}

.contentContainer {
  display: flex;
  justify-content: center;
}

.branding {
  color: var(--orange-300)
}

@media only screen and (min-width: 768px) {
  .contentContainer {
    justify-content: start;
  }
}