/* Adjust height for boundedContainer/Header in globals.css */
.boundedContainer {
  background-color: var(--blue-600);
  height: var(--create-account-header-height);
  overflow: hidden;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.branding {
  color: var(--orange-300);
}

@media only screen and (min-width: 768px) {
  .contentContainer {
    justify-content: start;
  }
}