.outerContainer {
  overflow: hidden; /* Hides overflowing username text prior to truncation */
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  color: var(--blue-600, #091f36);
  max-width: 100%;
}

.heading {
  width: fit-content; /* Necessary for accurate tracking of dynamic text width */
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  max-width: 20rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer label {
  color: var(--brown-600, #362009);
}

.inputContainer input {
  font-size: 1.3rem;
  background-color: var(--gray-200, #d9d9d9);
  width: 100%;
  height: 2.5rem;
  border: 3px solid var(--brown-600, #362009);
  padding-left: 0.5rem;
}

.inputContainer input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--orange-300, #e1b382);
}

.loadingIndicator {
  color: var(--orange-600, #cd6d07);
}

.passwordInputContainer {
  --toggle-button-size: 2.5rem;
  display: flex;
  align-items: center;
}

.passwordInputContainer input {
  width: calc(100% - var(--toggle-button-size)); /* Adjust width to accommodate toggle button */
}

.passwordToggleButton {
  width: var(--toggle-button-size);
  background-color: var(--brown-600, #362009);
  height: var(--toggle-button-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.passwordToggleButton svg {
  width: 1.5rem;
  height: 1.5rem;
}

.passwordToggleButton:hover {
  cursor: pointer;
}

.passwordToggleButton path {
  fill: var(--background, #f5f5f5);
}

.errorMessage p {
  color: var(--orange-600, #cd6d07);
  line-height: 1.1;
}

.errorMessage p:first-child {
  margin-top: 0.2rem;
}

.errorMessage p:last-child {
  margin-bottom: -0.5rem;
}

.submitButton[disabled] {
  background-color: var(--red-500, #ef2101);
  cursor: not-allowed;
}

@media only screen and (min-width: 768px) {
  .formContainer {
    width: 100%;
    max-width: 100%;
  }

  .inputContainer {
    display: grid;
    grid-template-columns: 1fr 20rem 1fr;
    grid-template-rows: 2rem auto;
    align-items: center;
    width: 100%;
    column-gap: 0.5rem;
  }

  .inputContainer label {
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
    min-width: max-content;
  }

  .inputContainer input {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
  }

  .inputContainer .errorMessage {
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
  }

  .submitButton {
    align-self: center;
    width: 12rem;
  }
}
