.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  color: var(--blue-600);
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  max-width: 20rem;
}

/* Add fallback colors */
.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer label {
  font-size: 1.25rem;
  color: var(--brown-600);
}

.inputContainer input {
  font-size: 1.125rem;
  background-color: var(--gray-200);
  border: 3px solid var(--brown-600);
  padding-left: 0.5rem;
}

.inputContainer input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--orange-300);
}

@media only screen and (min-width: 768px) {
  .inputContainer {
    position: relative;
  }

  .inputContainer label {
    font-size: 1.5rem;
    position: absolute;
    width: 12rem;
    text-align: right;
    left: -12.75rem;
  }
}
