.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  color: var(--blue-600, #091f36);
}

.heading {
  width: fit-content; /* Necessary for accurate tracking of dynamic text width */
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  max-width: 20rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer label {
  font-size: 1.25rem;
  color: var(--brown-600, #362009);
}

.inputContainer input {
  font-size: 1.125rem;
  background-color: var(--gray-200, #d9d9d9);
  border: 3px solid var(--brown-600, #362009);
  padding-left: 0.5rem;
}

.inputContainer input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--orange-300, #e1b382);
}

@media only screen and (min-width: 768px) {
  .inputContainer {
    position: relative;
  }

  /* Consider using CSS Grid or Flexbox gap to achieve the layout without absolute positioning */
  .inputContainer label {
    font-size: 1.5rem;
    position: absolute;
    width: 12rem;
    text-align: right;
    left: -12.75rem;
  }

  .submitButton {
    align-self: center;
    width: 12rem;
  }
}
