.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Add fallback colors */
.formContainer input {
  font-size: 1rem;
  border: 3px solid var(--brown-600);
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer label {
  font-size: 1.25rem;
  color: var(--brown-600);
}

@media only screen and (min-width: 768px) {
  .inputContainer {
    position: relative;
  }

  .inputContainer label {
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
  }
}
