.introContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.mainHeading {
  color: var(--orange-300);
}

.introParagraph {
  color: #fff;
}
