@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-main: var(--font-jersey, arial, sans-serif);

  --blue-400: hsl(211, 71%, 20%); /* #0f3257 */
  --blue-600: hsl(211, 71%, 12%); /* #091f36 */

  --brown-400: hsl(31, 71%, 20%); /* #57340f */
  --brown-600: hsl(31, 71%, 12%); /* #362009 */

  --orange-200: hsl(31, 61%, 77%); /* #e8c6a1 */
  --orange-300: hsl(31, 61%, 70%); /* #E1B382 */

  --gray-200: #d9d9d9;

  --white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main);
}
