@import "tailwindcss";

/* TODO: Add light mode and dark mode support */
:root {
  --background: #f5f5f5;
  --background-hover: hsl(28, 46%, 92%); /* #f4eae1 */
  --background-active: hsl(28, 45%, 76%); /* #dec1a8 */
  --foreground: #171717;

  --blue-300: hsl(209, 90%, 62%); /* #47a2f5 */
  --blue-400: hsl(211, 71%, 25%); /* #123e6d */
  --blue-500: hsl(211, 71%, 20%); /* #0f3257 */
  --blue-600: hsl(211, 71%, 16%); /* #0c2846 */
  --blue-700: hsl(211, 71%, 12%); /* #091f36 - primary font color against white backgrounds */

  --brown-100: hsl(28, 45%, 73%); /* #d9b89c */
  --brown-300: hsl(25, 28%, 45%); /* #956e53 */
  --brown-400: hsl(31, 71%, 20%); /* #57340f */
  --brown-500: hsl(31, 71%, 16%); /* #462a0c */
  --brown-600: hsl(31, 71%, 12%); /* #362009 - secondary font color against white backgrounds */

  --orange-200: hsl(31, 61%, 77%); /* #e8c6a1 */
  --orange-300: hsl(31, 61%, 70%); /* #e1b382 */
  --orange-500: hsl(31, 93%, 50%); /* #f68309 */
  --orange-600: hsl(31, 93%, 42%); /* #cd6d07 - error message color */
  --orange-650: hsl(31, 93%, 40%); /* #c56907 */

  --gold-400: hsl(43, 100%, 50%); /* #ffb800 */
  --gold-600: hsl(43, 100%, 42%); /* #d89b00 */

  --red-500: hsl(8, 99%, 47%); /* #ef2101 */

  --gray-200: hsl(0, 0%, 85%); /* #d9d9d9 */
  --gray-300: hsl(0, 0%, 80%); /* #cccccc */
  --gray-600: hsl(240, 4%, 42%); /* #66666e */

  --white: #ffffff;

  --shadow-md: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  /* For use in calculating viewport height in create-account page */
  --create-account-header-height: 6.5rem;
  --create-account-footer-height-mobile: 10.75rem;
  --create-account-footer-height-large: 7.5rem;

  --focus-color: #4a90e2;
  --background-focus-orange: var(--orange-200);

  --border-radius-xs: 2px;
  --border-radius-sm: 4px;

  --input-height: 2.5rem;
  --input-font-size: 1.25rem;
  --input-padding: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-main: var(--font-jersey, arial, sans-serif);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main);
  /* TODO: Ensure spacing adjustment looks good across previously created components */
  letter-spacing: 0.01rem;
}
