.widgetContainer {
  color: var(--blue-700, #091f36);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* ADD ATTRIBUTE WIDGET */

.addAttributeContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.25rem;
}

.addAttributeField {
  /* Width calculation expects a sibling button with width: var(--button-width) */
  --button-width: 3.375rem;
}

.addAttributeInput,
.addAttributeButton {
  border: 3px solid var(--blue-700, #091f36);
}

.addAttributeInput {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(100% - var(--button-width));
  transition: background-color 0.2s ease;
}

.addAttributeInput:focus {
  outline: none;
}
.addAttributeInput:focus-visible {
  background-color: var(--orange-200);
}

.addAttributeButton {
  background-color: var(--blue-700, #091f36);
  color: var(--gold-400, #ffb800);
  padding: 0rem 0.75rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: var(--button-width);
  border-left: none;
}

.addAttributeButton:focus-visible {
  background-color: var(--blue-500, #0f3257);
}

@media (hover: hover) {
  .addAttributeButton:hover {
    background-color: var(--blue-400, #123e6d);
  }
}

.addAttributeButton:active {
  background-color: var(--blue-500, #0f3257);
}

.attributeError {
  color: var(--red-500, #ef2101);
}

/* CURRENT ATTRIBUTES DISPLAY */

.currentAttributesHeadingContainer {
  width: fit-content;
  background-color: var(--blue-700);
  transform: skewX(-20deg);
  margin-bottom: 0.5rem;
}

.currentAttributesHeading {
  color: var(--background, #d89b00);
  padding: 0 1rem;
  transform: skewX(20deg); /* Counter-skew the text */
}

@media only screen and (min-width: 425px) {
  .addAttributeContainer {
    flex-direction: row;
    align-items: center;
  }
}
