.widgetContainer {
  color: var(--blue-700, #091f36);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heading,
.description {
  text-align: center;
}

/* ADD ATTRIBUTE WIDGET */

.addAttributeContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.25rem;
}

.addAttributeField {
  /* Width calculation expects a sibling button with width: var(--button-width) */
  --button-width: 3.375rem;
}

.addAttributeInput,
.addAttributeButton {
  border: 3px solid var(--blue-700, #091f36);
}

.addAttributeInput {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(100% - var(--button-width));
  transition: background-color 0.2s ease;
  border-radius: var(--border-radius-xs) 0 0 var(--border-radius-xs);
}

.addAttributeInput:focus {
  outline: none;
}
.addAttributeInput:focus-visible {
  background-color: var(--orange-200);
}

.addAttributeButton {
  background-color: var(--blue-400, #123e6d);
  font-size: 1.25rem;
  color: var(--background, #f5f5f5);
  padding: 0rem 0.75rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: var(--button-width);
  border-left: none;
  border-radius: 0 var(--border-radius-xs) var(--border-radius-xs) 0;
}

.addAttributeButton:focus-visible {
  background-color: var(--blue-300, #47a2f5);
}

@media (hover: hover) {
  .addAttributeButton:hover {
    background-color: var(--blue-300, #47a2f5);
  }
}

.addAttributeButton:active {
  background-color: var(--blue-500, #0f3257);
}

.attributeError {
  color: var(--red-500, #ef2101);
}

/* CURRENT ATTRIBUTES DISPLAY */

.currentAttributesHeadingContainer {
  width: fit-content;
  background-color: var(--blue-700);
  transform: skewX(-20deg);
  margin-bottom: 0.5rem;
}

.currentAttributesHeading {
  color: var(--background, #d89b00);
  padding: 0 1rem;
  transform: skewX(20deg); /* Counter-skew the text */
}

@media only screen and (min-width: 425px) {
  .heading,
  .description {
    text-align: left;
  }

  .addAttributeContainer {
    flex-direction: row;
    align-items: center;
  }
}
