.loginContainer {
  color: var(--brown-600, #362009);
  background-color: var(--white, #fff);
  border: 5px solid var(--brown-600, #362009);
  padding: 0.75rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginForm label {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.loginForm input {
  font-size: var(--input-font-size, 1.25rem);
  height: var(--input-height, 2.5rem);
  padding: var(--input-padding, 0.5rem);
  border: 1px solid var(--gray-200, #d9d9d9);
  border-radius: var(--border-radius-sm, 4px);
}

.loginForm input:focus-visible {
  outline: 1px solid var(--brown-400, #57340f);
  border-color: var(--brown-400, #57340f);
  box-shadow: 0 0 5px var(--brown-400, #57340f);
}

.loginButton {
  margin-top: 1rem;
}

.forgotPasswordLink {
  align-self: center;
}

.divider {
  height: 1px;
  background-color: var(--brown-600, #362009);
  margin: 0.5rem 0 1.5rem 0;
}

.createAccountLink {
  display: block;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .loginContainer {
    padding: 1rem;
  }
}