/* Adjust height for boundedContainer/Footer in globals.css */
.boundedContainer {
  background-color: var(--blue-600);
  height: var(--create-account-footer-height-mobile);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .boundedContainer {
    height: var(--create-account-footer-height-large);
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.brandingContainer {
  color: var(--orange-300);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  line-height: 2.5rem;
}

.copyright {
  margin-top: 0.4rem;
  line-height: 0.875rem;
}

.daltraxxLink {
  color: var(--white, #fff);
}

@media only screen and (min-width: 768px) {
  .contentContainer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 0.5rem;
  }

  .brandingContainer {
    grid-column: 2;
    justify-self: center;
  }

  .daltraxxLink {
    grid-column: 3;
    justify-self: start;
  }
}
