.boundedContainer {
  background-color: var(--blue-600);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.branding {
  color: var(--orange-300);
}

.copyright {
  margin-top: -0.75rem;
}

.daltraxxLink {
  color: var(--white, #fff);
}