/* Adjust height for boundedContainer/Footer in globals.css */
.boundedContainer {
  background-color: var(--blue-600);
  height: var(--create-account-footer-height-mobile);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .boundedContainer {
    height: var(--create-account-footer-height-large);
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.branding {
  color: var(--orange-300);
}

.logo {
  line-height: 2.5rem;
}

.copyright {
  margin-top: 0.4rem;
  line-height: 0.875rem;
}

.daltraxxLink {
  color: var(--white, #fff);
}

@media only screen and (min-width: 768px) {
  .daltraxxLink {
    position: absolute;
    top: 50%;
    left: 50%;
    /* Center vertically; offset horizontally by 12.5rem from center to set to the right of branding */
    /* If branding changes size, this will need to be adjusted */
    /* Consider using CSS grid to alleviate this */
    transform: translateY(-50%) translateX(calc(-50% + 12.5rem));
  }
}
