/* Adjust height for boundedContainer/Footer in globals.css */
.boundedContainer {
  background-color: var(--blue-600);
  height: var(--create-account-footer-height-mobile);
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .boundedContainer {
    height: var(--create-account-footer-height-large);
    overflow: hidden;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.branding {
  color: var(--orange-300);
}

/* Negative margin due to above element's line height */
.copyright {
  margin-top: -0.75rem;
}

.daltraxxLink {
  color: var(--white, #fff);
  text-align: center;
  max-width: fit-content;
}

@media only screen and (min-width: 768px) {
  .daltraxxLink {
    position: absolute;
    top: 50%;
    left: 50%;
    /* Center vertically; offset horizontally by 12.5rem from center to set to the right of branding */
    /* If branding changes size, this will need to be adjusted */
    transform: translateY(-50%) translateX(calc(-50% + 12.5rem));
  }
}
