.boundedContainer {
  background-color: var(--blue-600);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.branding {
  color: var(--orange-300);
}

.copyright {
  margin-top: -0.75rem;
}

.daltraxxLink {
  color: var(--white, #fff);
  text-align: center;
  max-width: fit-content;
}

@media only screen and (min-width: 768px) {
  .daltraxxLink {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(calc(-50% + 12.5rem));
  }
}
