.button {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--border-radius-sm, 4px);
}

.gray200Background {
  background-color: var(--gray-200, #d9d9d9);
}

.button:focus-visible {
  outline: 2px solid var(--gold-600, #d89b00);
  outline-offset: 2px;
}

@media (hover: hover) {
  .gold400HoverBackground:hover {
    background-color: var(--gold-400, #ffb800);
  }
}
.gold400HoverBackground:active {
  background-color: var(--gold-600, #d89b00);
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: var(--gray-200, #d9d9d9);
}

.brown600Fill path {
  fill: var(--brown-600, #362009);
}

.blue700Fill path {
  fill: var(--blue-700, #091f36);
}
