.button {
  background-color: var(--gray-200, #d9d9d9);
  aspect-ratio: 1 / 1;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--border-radius-sm, 4px);
}

.button svg {
  height: 100%;
  width: 100%;
}

.button path {
  fill: var(--brown-600, #362009);
}