.button {
  background-color: var(--gray-200, #d9d9d9);
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--border-radius-sm, 4px);
}

.button:hover {
  background-color: var(--gold-400, #66666e);
}
.button:active {
  background-color: var(--gold-600, #57340f);
}

.button path {
  fill: var(--brown-600, #362009);
}