.container {
  background-color: var(--gray-200);
  width: 100%;
  position: relative;
  border-radius: var(--border-radius-xs);
}

.largeContainer {
  height: 1.5rem;
  margin-bottom: 1.25rem;
}

.smallContainer {
  height: 1rem;
  margin-bottom: 1rem;
}

.progress {
  background-color: var(--blue-300);
  height: 100%;
  border-top-left-radius: var(--border-radius-xs);
  border-bottom-left-radius: var(--border-radius-xs);
}

.smallVal, .largeVal {
  position: absolute;
}

.smallVal {
  font-size: 1rem;
}

.largeVal {
  font-size: 1.25rem;
}

.leftBound {
  left: 0;
}

.rightBound {
  right: 0;
}

.value {
  left: 50%;
  transform: translateX(-50%);
}
