.container {
  background-color: var(--gray-200);
  height: 1.5rem;
  width: 100%;
  position: relative;
  border-radius: var(--border-radius-xs);
}

.progress {
  background-color: var(--blue-300);
  height: 100%;
  border-top-left-radius: var(--border-radius-xs);
  border-bottom-left-radius: var(--border-radius-xs);
}

.leftBound,
.rightBound,
.value {
  position: absolute;
  top: 1.5rem;
}

.leftBound {
  left: 0;
}

.rightBound {
  right: 0;
}

.value {
  left: 50%;
  transform: translateX(-50%);
}
