.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.largerScreenOnly {
  display: none;
}

@media (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 5fr 5fr 5fr 1fr;
    column-gap: 1rem;
  }

  .largerScreenOnly {
    display: block;
  }
  
  .headerRow {
    grid-row: 1;
    grid-column: 2 / 7;
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr 5fr;
    column-gap: 1rem;
  }

  .noQuestsMessage {
    grid-column: 1 / -1;
    margin: 0 auto;
  }

}
