
/* DELETE TRANSITION STYLES */
.questItem {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out,
    margin 0.3s ease-in-out, padding 0.3s ease-in-out;
  max-height: var(--item-height); /* Adjust based on content height, perhaps set with JS */
  opacity: 1;
}

.questItem.removing {
  max-height: 0;
  opacity: 0;
  padding: 0;
}

.deleteQuestButton:disabled {
  opacity: 0.5;
}
