.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.largerScreenOnly {
  display: none;
}

@media (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: var(--full-grid-template-columns);
    column-gap: var(--column-gap);
  }

  .largerScreenOnly {
    display: block;
  }

  .headerRow {
    grid-row: 1;
    grid-column: 2 / 7;
    display: grid;
    grid-template-columns: var(--header-row-grid-template-columns);
    column-gap: var(--column-gap);
  }

  .noQuestsMessage {
    grid-column: 1 / -1;
    margin: 0 auto;
  }

}
