.hidden {
  display: none;
}

/* DELETE TRANSITION STYLES */
.questItem {
  overflow: hidden;
  max-height: var(--item-height);
  opacity: 1;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.questItem.removing {
  max-height: 0;
  opacity: 0;
}

.deleteQuestButton:disabled {
  opacity: 0.5;
}
