.button {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  background-color: var(--blue-600, #091f36);
  color: var(--white, #fff);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.buttonBrown600 {
  background-color: var(--brown-600, #362009);
}
.buttonBrown600:hover {
  background-color: var(--brown-400, #57340f);
}
.buttonBrown600:active {
  background-color: var(--brown-600, #362009);
}

.buttonBlue600 {
  background-color: var(--blue-600, #091f36);
}
.buttonBlue600:hover {
  background-color: var(--blue-400, #0f3257);
}
.buttonBlue600:active {
  background-color: var(--blue-600, #091f36);
}

.buttonOrange300 {
  background-color: var(--orange-300, #E1B382);
}
.buttonOrange300:hover {
  background-color: var(--orange-200, #e8c6a1);
}
.buttonOrange300:active {
  background-color: var(--orange-300, #E1B382);
}
