.button {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  color: var(--white, #fff);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.buttonBrown600 {
  background-color: var(--brown-600, #362009);
}
.buttonBrown600:hover {
  background-color: var(--brown-400, #57340f);
}
.buttonBrown600:active {
  background-color: var(--brown-500, #462a0c);
}

.buttonBlue600 {
  background-color: var(--blue-600, #091f36);
}
.buttonBlue600:hover {
  background-color: var(--blue-400, #0f3257);
}
.buttonBlue600:active {
  background-color: var(--blue-500, #0c2846);
}

.buttonOrange600 {
  background-color: var(--orange-600, #cd6d07);
}
.buttonOrange600:hover {
  background-color: var(--orange-500, #f68309);
}
.buttonOrange600:active {
  background-color: var(--orange-600, #cd6d07);
}
