.uiContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 38rem;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .uiContainer {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
  }

  .attributeWidget p:first-of-type,
  .questsWidget p:first-of-type {
    height: 5.25rem; /* Match heights of both widget descriptions to line up inputs */
  }
}
