.setupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  --component-spacing: 1.5rem;
  gap: var(--component-spacing);
}

.widgetContainer {
  --container-max-width: 38rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--component-spacing);
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.errorMessage {
  color: var(--red-500, #ef2101);
  text-align: center;
}

@media (min-width: 1024px) {
  .widgetContainer {
    --widget-desc-height: 5.25rem;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
  }

  .attributeWidget p:first-of-type,
  .questsWidget p:first-of-type {
    height: var(--widget-desc-height); /* Match heights of both widget descriptions to line up inputs */
  }
}
