.uiContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .uiContainer {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}