.widgetContainer {
  color: var(--blue-700, #091f36);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addAttributeContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 20px;
}

.addAttributeField {
  --button-width: 3.375rem;
}

.addAttributeField input {
  padding-left: 0.5rem;
  width: calc(100% - var(--button-width));
  border: 2px solid var(--blue-700, #091f36);
}

.addAttributeField input:focus {
  outline: none;
}
.addAttributeField input:focus-visible {
  background-color: var(--orange-200);
}

.addAttributeButton {
  background-color: var(--blue-700, #091f36);
  color: var(--white, #ffffff);
  padding: 0rem 0.75rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: var(--button-width);
  border: 2px solid var(--blue-700, #091f36);
  border-left: none;
}

@media (hover: hover) {
  .addAttributeButton:hover {
    background-color: var(--blue-400, #123e6d);
  }
}

.addAttributeButton:active {
  background-color: var(--blue-500, #0f3257);
}

.attributeError {
  color: var(--red-500, #ef2101);
}

@media only screen and (min-width: 425px) {
  .addAttributeContainer {
    flex-direction: row;
    align-items: center;
  }
}
