.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.questBoard {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 7.5rem;
  background-color: var(--brown-600, #362009);
  border-radius: var(--border-radius-xs, 2px);
  width: 100%;
  padding: 1.5rem;
  gap: 0.5rem;
}


.noQuestsMessage {
  text-align: center;
}
