.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.questBoard {
  background-color: var(--brown-600, #362009);
  border-radius: var(--border-radius-xs, 2px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  min-height: 6.5rem;
}