.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.questBoard {
  background-color: var(--brown-600, #362009);
  border-radius: var(--border-radius-xs, 2px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  /* Prevent layout shift when all quests are removed and the "Time to add some quests!" message is displayed */
  min-height: 9.25rem;
}

.noQuestsMessage {
  text-align: center;
}

/* The below media queries adjust min height based on size of container with "no quests message" present
to prevent layout shift when all quests are deleted. This is fragile because it is dependent on 
the specific text. Consider implementing better handling in future */
@media (min-width: 328px) {
  .questBoard {
    min-height: 7rem;
  }
}

@media (min-width: 900px) {
  .questBoard {
    min-height: 10.25rem;
  }
}
