/* Ensures content fills viewport minus header and footer height */
.mainContent {
  min-height: calc(
    100vh - var(--create-account-header-height, 6.5rem) -
      var(--create-account-footer-height-mobile, 10.75rem)
  );
}

@media only screen and (min-width: 768px) {
  .mainContent {
    min-height: calc(
      100vh - var(--create-account-header-height, 6.5rem) -
        var(--create-account-footer-height-large, 7.5rem)
    );
  }
}
